* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #74ebd5, #9face6);

    padding: 20px;
}

.container {
    width: 100%;
    max-width: 550px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 8px;
}

.subtitle {
    color: white;
    margin-bottom: 25px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.search-box button {
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    background: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-box button:hover {
    background: #555;
}

.weather-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.weather-card h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

#date {
    color: #777;
}

.temperature {
    font-size: 65px;
    font-weight: bold;
    margin: 20px 0 5px;
}

#condition {
    font-size: 22px;
    margin-bottom: 25px;
}

.details {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.detail {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 15px;
    flex: 1;
}

.detail span {
    font-size: 25px;
}

.detail p {
    color: #777;
    margin: 5px 0;
}

.detail strong {
    font-size: 16px;
}

#error {
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer {
    color: white;
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 500px) {

    h1 {
        font-size: 28px;
    }

    .search-box {
        flex-direction: column;
    }

    .details {
        flex-direction: column;
    }

}
